<!DOCTYPE html>
<html id="app">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title v-text="metadata.title">Github User Page Generator : spatialdev.github.io</title>
	<meta name="description" content="Github User Page JavaCript Generator built with Vue.js that creates a dynamic page based on the existing data and repositories of a given GitHub user" v-bind:content="metadata.description" />
	<meta name="author" content="Spatialdev (@spatialdev)" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
	<meta http-equiv="cleartype" content="on" />
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="robots" content="index, follow" />

	<!-- Social Networks -->
	<meta name="twitter:title" property="og:title" itemprop="title name" content="Github User Page Generator" v-bind:content="metadata.title" />
	<meta name="twitter:description" property="og:description" itemprop="description" content="Github User Page JavaCript Generator built with Vue.js that creates a dynamic page based on the existing data and repositories of a given GitHub user" v-bind:content="metadata.description" />
	<meta name="twitter:url" property="og:url" itemprop="url" content="http://spatialdev.github.io" v-bind:content="metadata.url" />
	<meta name="twitter:image" property="og:image" itemprop="image" content="http://spatialdev.github.io/frontend/images/spatialdev-github-io.jpg" />
	<!-- : FaceBook -->
	<meta property="og:type" content="website" />
	<meta property="fb:admins" content="636040175" />
	<meta property="article:author" content="https://www.facebook.com/spatialdev" />
	<meta property="article:publisher" content="https://www.facebook.com/spatialdev" />
	<!-- : Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@spatialdev" />
	<meta name="twitter:creator" content="@spatialdev" />

	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="google" content="notranslate" />
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->

	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="#3f434f" />
	<meta name="msapplication-navbutton-color" content="#3f434f" />
	<meta name="msapplication-TileImage" v-bind:content="user_data.avatar_url" />
	<meta name="msapplication-TileColor" content="#3f434f" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-title" v-bind:content="metadata.title" />

	<link rel="icon" sizes="256x256" href="https://avatars.githubusercontent.com/u/{{ user_data.id }}?s=256" />
	<link rel="apple-touch-icon" href="https://avatars.githubusercontent.com/u/{{ user_data.id }}" />

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" type="text/css" />
	<link href="frontend/styles/app.css" rel="stylesheet" type="text/css" />
</head>
<body class="preload">

	<div id="loader" class="listen" v-bind:class="status">
		<div class="loading-content">
			<div class="loading-spinner"></div>
			<div class="loading-error">
				<i class="fa fa-warning fa-2x"></i>
				<br /><strong v-text="'Error fetching user data'"></strong>
				<br /><a :href="'https://github.com/' + user" v-text="'https://github.com/' + user"></a>
				<br /><span v-text="error_msg"></span>
			</div>
		</div>
	</div>

	<header role="banner">
		<h1><strong><a href="{{ user_data.html_url }}" title="{{ user }}" target="_blank">@{{ user }}</a></strong> {{ user_data.name }}</h1>
		<ul class="fa-ul">
			<li>
				<i class="fa fa-fw fa-code"></i>
				<span v-for="user_lang in user_languages | orderBy 'user_lang' -1" class="code-lang" v-if="user_lang / user_languages_total * 100 > 0.1">
					<strong>{{ $key }}</strong> {{ user_lang | langpercent }}%
				</span>
			</li>

			<li v-if="user_data.location"><i class="fa fa-fw fa-globe"></i> {{ user_data.location }}</li>
			<li v-else><i class="fa fa-fw fa-globe"></i> The Internet</li>

			<li v-if="user_data.blog"><i class="fa fa-fw fa-link"></i> {{{ user_data.blog | autolinks }}}</li>
			<li v-else><i class="fa fa-fw fa-link"></i> {{{ user_data.html_url | autolinks }}}</li>
		</ul>
		<div id="header-aside">
			<figure v-if="user_data.avatar_url"><img :src="user_data.avatar_url" width="32" alt="{{ user }}" /></figure>
			<ul class="fa-ul">
				<li><i class="fa fa-fw fa-star-o"></i> {{ stars }}</li>
				<li><i class="fa fa-fw fa-code-fork"></i> {{ forks }}</li>
				<li><i class="fa fa-fw fa-eye"></i> {{ watching }}</li>
			</ul>
		</div>
		<hr />
	</header>

	<main role="main">
		<section v-for="repo in repos | orderBy 'watchers' -1">
			<header>
				<h3><i class="fa fa-github"></i> <a href="{{ repo.html_url }}" title="{{ repo.name }}" target="_blank">{{ repo.name }}</a></h3>
				<p class="repo-langs" v-if="repo.language">
					<i class="fa fa-fw fa-code"></i> {{ repo.language }}
				</p>
				<p class="repo-details">
					<i class="fa fa-fw fa-clock-o"></i> {{ repo.pushed_at | filterdate }} &mdash;
					<i class="fa fa-fw fa-star-o"></i> {{ repo.stargazers_count }}
					<i class="fa fa-fw fa-code-fork"></i> {{ repo.forks_count }}
					<i class="fa fa-fw fa-eye"></i> {{ repo.watchers_count }}
				</p>
			</header>
			<article>
				<p v-if="repo.description">{{{ repo.description | autolinks }}}</p>
				<p v-else>{{ repo.name }}</p>
			</article>
			<footer>
				<p v-if="repo.homepage"><i class="fa fa-fw fa-link"></i> {{{ repo.homepage | autolinks }}}</p>
				<p v-else><i class="fa fa-fw fa-link"></i> {{{ repo.html_url | autolinks }}}</p>
			</footer>
		</section>
	</main>

	<footer role="contentinfo">
		<hr />
		<p>
			<strong></strong> {{ user_data.name }} &copy; 2016
		</p>
		<dl>
			<dt>Share this on the Social Networks!</dt>
			<dd>
				<ul class="social-share">
					<li><i class="fa fa-facebook"></i> <a href="http://www.facebook.com/sharer.php?u={{ metadata.url | urlencode }}&t={{ metadata.title | urlencode }}" title="Share on Facebook">FaceBook</a></li>
					<li><i class="fa fa-twitter"></i> <a href="http://twitter.com/share?text={{ metadata.title | urlencode }}&url={{ metadata.url | urlencode }}&via=spatialdev" title="Share on Twitter">Twitter</a></li>
				</ul>
			</dd>
		</dl>

		<p id="footer-credits">

		</p>
	</footer>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.js"></script>
	<script>if (!window.Vue) { document.write('<script src="frontend/scripts/vue-1.0.18.js"><\/script>'); }</script>
	<script type="text/javascript" src="frontend/scripts/atomic.js"></script>
	<script type="text/javascript" src="frontend/scripts/cache.js"></script>
	<script type="text/javascript" src="frontend/scripts/app.js"></script>
</body>
</html>
