.SectorArea {
    position: absolute;
    bottom: 15px;
    z-index: 2002;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    /* width: 0px; */
    height: 61px;
    right: 681px;
}

.SectorArea .side-view-close {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    background-color: rgb(239, 239, 239);
    border-radius: 0;
    float: left;
    padding: 21px 5px 22px 5px;
    font-size: 13px;
    line-height: 1;
}

.SectorArea .glyphicon {
    color:#595959;
}

.SectorArea .AllSectors{
    left: 138px;
    position: absolute;
    height: 61px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);

}

.SectorArea .AllSectors.off {
    left: 582px;
    -webkit-transition: left .5s ease;
}

.SectorArea .AllSectors.on {
    width: 480px;
}

.SectorArea .SectorContent {
    width: 100%;
    height: 100%;
}

.SectorArea .SectorContent .SingleSector {
    float: left;
    font-size: 13px;
    font-family: "DIN";
    line-height: 2.964;
    text-align: left;
    padding: 10px 10px 0px 12px;
    height: 40px;
}

.SectorArea .SectorContent .View_All a{
    font-size: 13px;
    color: rgb(55, 56, 56);
    line-height: 2.964;
    float: right;
    -moz-transform: matrix( 0.83116883116883,0,0,0.83050847457627,0,0);
    -webkit-transform: matrix( 0.83116883116883,0,0,0.83050847457627,0,0);
    -ms-transform: matrix( 0.83116883116883,0,0,0.83050847457627,0,0);
    z-index: 6;
    padding: 10px 10px 0px 12px;
    text-decoration: none;
}

.SectorArea .SectorContent .SingleSector .cicos{
    color: #e2e1dd;
}

.SectorArea .SectorContent .SingleSector .cicos.on{
    color: rgb(157, 33, 41);
}

.SectorArea .SectorContent .SingleSector .library,
.SectorArea .SectorContent .SingleSector .education{
    color: #e2e1dd;
}

.SectorArea .SectorContent .SingleSector .library.on,
.SectorArea .SectorContent .SingleSector .education.on{
    color: rgb(42, 133, 173);
}

.SectorArea .SectorContent .SingleSector .health{
    color: #e2e1dd;
}

.SectorArea .SectorContent .SingleSector .health.on{
    color: rgb(127, 157, 106);
}

.SectorArea .SectorContent .SingleSector .agriculture {
    color: #e2e1dd;
}

.SectorArea .SectorContent .SingleSector .agriculture.on{
    color: rgb(209, 110, 35);
}

.SectorArea .SectorContent .SingleSector a {
    text-decoration: none;
}

.SingleSector.off {
    padding: 0px;
    height: 0px;
    width:0px;
}

.nearby {
    float: left;
    padding: 3px 0px 0px 0px;
    font-size: 32px;
}

#MapBasemap {
    position: absolute;
    bottom: 128px;
    right: 17px;
    z-index: 2;
    cursor: pointer;
    background: white;
    height: 33px;
    width: 33px;
}

#MapReset {
    position: absolute;
    bottom: 85px;
    right: 17px;
    z-index: 2;
    cursor: pointer;
    background: white;
    height: 33px;
    width: 33px;
}

.mapreset {
    background-image: url("svgs/icon_reload.svg");
    height: 22px;
    width: 19px;
    margin: 5px auto;
}

#MapBasemap .mapimg{
    font-size: 34px;
    color: #9b232c;
}

#BasemapSelector {
    width: 241px;
    height: 100px;
    position: absolute;
    right: 17px;
    bottom: 165px;
    z-index: 10;
    font-size: 12px;
    background: white;
    display: none;
}

#BasemapSelector .header {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

#BasemapSelector .content {
    padding: 10px 8px;
}

#BasemapSelector.on {
    display: block;
}

#BasemapSelector .map-thumbnail{
    transition: all 0.2s ease-in-out;
    height: 50px;
    width: 68px;
    float: left;
    margin-right: 7px;
}

#BasemapSelector img{
    height: 50px;
    width: 68px;
}
