.left-section {
    margin-right: 0px;
}

.searchbar {
    position: absolute;
    /* top: 6px; */
    width: 62px;
    left: 204px;
    padding-top: 3px;
    height: inherit;
    background-color: #e2e1dd;
    cursor: pointer;
}

.search-icon {
    font-size: 33px;
    position: relative;
    /* margin-top: 6px; */
    left: 10px;
    top: 3px;
    /* height: inherit; */
}

.countryselect {
    padding: 0px;
    height: 35px;
    width:190px;
}

.countrytext {
    font-size: 16.712px;
    font-family: "DIN";
    color: rgb(255, 255, 255);
    line-height: 2.735;
    text-align: center;
    -moz-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    -webkit-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    -ms-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    /*position: absolute;*/
    /* top: 9.502px; */
    z-index: 189;
    text-transform: uppercase;
}

.glyphicon:empty {
    width: 1em;
    color: #fff;

}

.upper-inline-nowrap {
    white-space: nowrap;
    padding: 7px 0px 0px 0px;
}

.upper-icon-upload {
    float: left;
    font-size: 20px;
    padding: 5px 4px 1px 4px;
}

#MapUpperRightToolbarWrapper {
    /* position: absolute; */
    width: 266px;
    /* top: 0; */
    /* right: 0; */
    float: right;
    z-index: 2002;
    background-color: rgb(237, 27, 46);
}

.countryTitle {
    font-size: 25.71px;
    font-family: "DIN";
    color: rgb(157, 33, 41);
    position: absolute;
    left: 25px;
    top: 3px;
    text-transform: uppercase;
}

#MapUpperRightToolbarWrapper > div {
    /* position: absolute; */
    /* top: 0px; */
    height: 44px;
    z-index: 187;
    float: left;
}

#MapUpperRightToolbarWrapper .btn {
    /*right: 5px;*/
    padding: 6px 11px;
    top: 6px;
    z-index: 190;
    background-color: rgb(237, 27, 46);

}

#MapUpperRightToolbarWrapper .btn:hover {
    background-color: rgb(237, 27, 46);
}

#FilterArea .btn.sbar {
    padding: 0px;
    position: inherit;
    left: 34px;
    top:10px;
    background-color: #e2e1dd;
}

#MapUpperRightToolbarWrapper .btn.sbar:hover {
    background-color: #e2e1dd;
}

#MapUpperRightToolbarWrapper .btn:active {
    background-color: rgb(237, 27, 46);
}

#MapUpperRightToolbarWrapper div.light {
    background-color: #fff;
    font-family: DIN-Medium;
    color: #404040;
    padding: 1px 49px 0px 9px;

}

#MapUpperRightToolbarWrapper .search {
    font-size: 20px;
    padding: 5px 14px 2px 16px;
    background-color: #f1efec;
    height: 35px;
}

#SearchPanelWrapper.on {
    display: block;
    top: 44px;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

/* Country Selector */

#CountrySelectorPanelWrapper {
    position: absolute;
    width: 114px;
    background-color: #fff;
    /*-moz-transition: all .5s ease; *//* This is the animation UP for the country selector wrapper */
    /*-webkit-transition: all .5s ease; *//* This is the animation UP for the country selector wrapper */
    /*-ms-transition: all .5s ease; *//* This is the animation UP for the country selector wrapper */
    top: -2775px;
    padding: 0px;
    z-index: 2001;
}

#CountrySelectorPanelWrapper > div.horizontal-separator {
    border-bottom: 1px solid #b9b8b8;
    margin: 20px 0;
}

#CountrySelectorPanelWrapper.on {
    display: block;
    position: absolute;
    top: 44px;
    width: 675px;
    /*height: 183px;*/
    z-index: 165;
    /*-moz-transform: matrix( 0.78,0,0,0.77790178571429,0,0);*/
    /*-webkit-transform: matrix( 0.78,0,0,0.77790178571429,0,0);*/
    /*-ms-transform: matrix( 0.78,0,0,0.77790178571429,0,0);*/
    background-color: rgb(237, 27, 46);
    right: 61px;
}

#CountrySelectorPanelWrapper div {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    font-family: "DIN";
    color: rgb(255, 255, 255);
    line-height: 4;
    text-align: center;
    z-index: 181;
}

#CountrySelectorPanelWrapper div a {

}

#CountrySelectorPanelWrapper #CountryArea div.title {
    float: left;
    margin-right: 25px;
}

#CountrySelectorPanelWrapper .countryListItem {
    cursor: pointer;
    margin: 5px 0;
    color: #3c7fad;
}

#CountrySelectorPanelWrapper .countryListItem:hover {
    text-decoration: underline;
}

#CountryArea .content {
    height: 208px;
    overflow-y: auto;
    overflow-x: hidden;
}

#CountrySelectedRegion {
    width: 225px;
    z-index: 166;
    float: left;
}

#CountrySelectedRegion div:hover {
    background-color: #9b232c;
    text-decoration: none;
}

#CountrySelectedRegion a {
    text-decoration: none;
}

#CountrySelectedCountry {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #9b232c;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #9b232c;

}

/* End Country selector */

/** Filter Drop Down */

#FilterArea {
    position: absolute;
    height: 44px;
    top: 0;
    right: 0px;
    left: 0px;
    z-index: 2002;
    width: 100%;
    background-color: #e2e1dd;
}

.FilterAreaText {
    font-size: 14.141px;
    font-family: "DIN";
    color: rgb(55, 56, 56);
    line-height: 2.051;
    text-align: left;
    -moz-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    -webkit-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    -ms-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    position: absolute;
    left: 35px;
    top: 9.498px;
    z-index: 165;
    text-transform: uppercase;
}

.SectorDropDown {
    font-family: DIN;
    -moz-transform: matrix(0.68417828601723, 0, 0, 0.68489583333333, 0, 0);
    -ms-transform: matrix(0.68417828601723, 0, 0, 0.68489583333333, 0, 0);
    /*margin-top: 4px;*/
    /* z-index: 172; */
    float: right;
    /* position: relative; */
    /* left: 415px; */
    /*width: 149px;*/
    height: 44px;
    margin: 0px 67px 0px 0px;
}
.SectorDropDown .dropdown{
    float: left;
    /* height: 32px; */
    /* width: 153px; */
}

#sectors-filter label {
    font-size: 12px;
    font-family: DIN-Bold;
}

.providers {
    margin-left:25px;
    font-family: DIN;
}

#FilterArea .btn-sector{
    padding: 0px;
}


.FilterTitle {
    width: 80px;
    font-size: 17px;
    font-family: "DIN";
    color: rgb(55, 56, 56);
    text-align: left;
    -moz-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    -webkit-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    -ms-transform: matrix(0.78, 0, 0, 0.77790178571429, 0, 0);
    /* z-index: 165; */
    float: right;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;

    /* position: relative; */
    /* left: 450px; */
}

.abs {
    position: absolute;
}

#FilterArea .btn {
    display: inline-block;
    /* margin: 0px 0px 0px 0px; */
    /* font-size: 16px; */
    /* font-weight: 300; */
    /* line-height: 1.428571429; */
    text-align: center;
    /* white-space: nowrap; */
    /* vertical-align: middle; */
    /* cursor: pointer; */
    /* background-image: none; */
    height: 40px;
    width: 146px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -webkit-transform: matrix(0.68417828601723, 0, 0, 0.68489583333333, 0, 0);
}

#FilterArea .dropdown-menu {
    background-image: -webkit-linear-gradient(90deg, rgb(242, 242, 242) 0%, rgb(255, 255, 255) 8%);
    box-shadow: 1px 1.732px 5px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 27px;
    z-index: 176;
    border-radius: 0px;
    left:26px;
    /* max-height:200px; */
    width: 290px;
    /* padding: 27px 0px 0px 0px; */
}

#FilterArea .dropdown-menu.library{
    left: 15px;
    width: 150px;
}

#FilterArea .dropdown-menu.health{
    left: 15px;
    width: 195px;
    top: 33px;
}

#FilterArea .dropdown-menu.financial{
    left: 27px;
    top: 47px;
}

#FilterArea .dropdown-menu.ag{
    left: 20px;
    top: 33px;
    z-index: 2003;
}

#FilterArea .dropdown-menu > li > a {
    display: inline;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

#FilterArea .radio, .checkbox {
    display: block;
    min-height: 0px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    font-size: 12px;
}

#FilterArea .btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ffffff;
    box-shadow: 1px 1.732px 5px 0px rgba(0, 0, 0, 0.2);
    border-color: #ffffff;
    /* padding-bottom: 202px; */
    /* padding: 10px 15px 29px 15px; */;
}

#FilterArea .ShowMore {
    font-size: 14.601px;
    font-family: "DIN";
    color: rgb(157, 33, 41);
    font-weight: bold;
    line-height: 1.2;
    z-index: 178;
    text-align:center;
}

#FilterArea .ShowMore a{
    text-decoration: none;
    color: rgb(157, 33, 41);
}

#Country-Summary {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 8%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 8%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 8%);
    width: 158px;
    height: 28px;
    z-index: 51;
    float: right;
    margin: 6px 0px 0px 0px;
    cursor: pointer;
}

#Country-Summary-Modal.on {
    background-color: rgb(255, 255, 255);
    width: 630px;
    height: 541px;
    margin: 50px auto 40px;
}

#Country-Summary-Container.on {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
}

#Country-Summary-Container .bottom-title {
    margin-top: 20px;
}


#Country-Summary .country-summary-text {
    text-align: center;
    text-transform: uppercase;
    color: rgb(155, 35, 44);
    font-weight: bold;
    margin: 3px 0px 0px 0px;
}

#country-summary-close.on {
    color: rgb(57, 57, 57);
    cursor: pointer;
    background-image: url('./svgs/btn_close.svg');
    height: 27px;
    width: 27px;
    float: right;
    margin: 20px 30px 0px;
}

.country-summary-divider {
    color: rgb(57, 57, 57);
    background-image: url('./svgs/dividerline.png');
    height: 1px;
    width: 95%;
    position: relative;
    margin: auto;
    top: 214px;
}

