.clearfix:before, .clearfix:after {
 content: " ";
 display: table;
}

.clearfix:after {
 clear: both;
}
.clearfix {
 *zoom: 1;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.imageGallery {
text-align: left;

}

.imageGallery table {

}

.repoStats{
text-align: left;
padding-top: 15px;
}

.repoStats table {

}


table {
border-collapse: collapse;
border-spacing: 0;
}

.repoStatCard{
  display: inline-block;
  background-color: #fff;
  padding: 8px;
  margin: 20px;
  margin-bottom: 18px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  height:110px;
  width: 284px;
  box-shadow: 0 4px 4px -2px #232323;
      -moz-box-shadow: 0 4px 4px -2px #232323;
      -webkit-box-shadow: 0 4px 4px -2px #232323;
      font-size: 18px;
      font-weight: 300;
}

.repoStatCard .headerStat{
    margin: 0px 9px 0;
    color: #1c769e;
    font-family: futura;
    font-size: 18px;
}

.repoStatCard p{
    margin: 0px 9px 0;
    color: #545554;
}

.repoTable{

}

#repoCard{
  position: relative;
  margin-left: 35px;
}

.workFrame {
display: inline-block;
background-color: #fff;
padding: 8px;
margin: 10px;
margin-bottom: 18px;
cursor: pointer;
border: 1px solid #e8e8e8;
height:235px;
width: 284px;
cursor: pointer;
box-shadow: 0 4px 4px -2px #232323;
    -moz-box-shadow: 0 4px 4px -2px #232323;
    -webkit-box-shadow: 0 4px 4px -2px #232323;
}

.workFrame:hover {
/*box-shadow: rgb(119, 119, 119) 0px 0px 10px;*/


}

.workImage img {
height: 181px;
width: 285px;
outline: 1px solid #cccccb;
}

.workText {
text-align: left;
margin: 0 10px 5px 10px;
}

.workTitle {
text-align: left;
font-size: 18px;
text-transform: uppercase;
color: #1c769e;
width: 190px;
font-family: futura;
}

.workSubTitle {
height: 40px;
font-size: 13.5px;
color: #1c769e;;
}

.workDescription {
height: 105px;
font-size: 18px;
line-height: 21px;
color: #545554;
overflow: auto;
}

.repoTag{
  width: 88px;
  height: 29px;
  background: red;
  position: absolute;
  right:-1px;
  float: right;
  top: -1px;
  background-image:url(../images/repoTag.png);
  display:none;
}

.workFrame:hover  .repoTag {

	display: block;

}

.repo-footer{
  color:#999;
  bottom: 0px;
  position: absolute;
}
.watchers{
  padding-right: 10px;
}

.forks{
  padding-right: 10px;
}


.hero {
position: relative;
/*background-image: url('/images/hero.png');*/
background: #fff;
/*background-image:url(../images/bg_6.png);
background-repeat:repeat;*/
height: 150px;
}

.wrapper {
position: relative;
min-width: 1024px;
width: 100%;
/*margin: 0 auto;*/
background:#fff;
height: 150px;
}

#herotext {
padding: 10px 10px 0;
color: #1c769e;
}

.big{
  color: #1c769e;
  font-family: FiraSansOT-Bold;
  line-height: 26px;
  font-size:24px;
}

.small{
font-size: 18px;
}

.graycolor{
  color: #434343;
}

.hero-item {
float: left;
display: inline-block;
width: 700px;
margin-left: 40px;
margin: 0 auto;
}

.hero-item2 {
float: right;
display: inline-block;
width: 220px;
height: 150px;
}

.cf:before, .cf:after {
content: " ";
display: table;
}

.cf:after {
clear: both;
}

.imageGallery table {
margin: auto;
}

.footerText{
  color: #1c769e;
 margin-left: 40px;
}

.repoHeader{
  margin-left: 37px;
font-family: futura;
font-size: 25px;
color: #fff;
}

.repoDate{
  font-size: 11px;
  padding-left: 5px;
  color: #1c769e;
}
