html {
  background: url("../images/bg_6.png") repeat;
  height: 100%;
}

body {
  font: 14px Futura Condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #434344;
  min-width: 960px;
  height: 100%;
}

input[type=text], .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: Futura Condensed, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6, #statistics, .searchbar .motto, li.repo h2 {
  font-family: Futura Condensed Bold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #1c769e;;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #1c769e;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  color: #1c769e;
}


a:link, a:visited {
  color: #545554;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: left;
  height: 50px;
  background-color: #fff;
}

.inner{
  position: relative;
  width: 1024px;
  /* padding: 10px; */
  margin: 0 auto;
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 226px;
  color: #fff;
  content: attr(data-popup);
  text-decoration: none;
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 220px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

#template {
  margin-left: 2px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  background: url(../images/template.png) no-repeat;
  height: 195px;
  width: 14px;
  left: 0;

}

a:hover #footer {
  border: none !important;
}

.byline {
  margin: 0 10px 20px;
}

.highlight {
  color: #00A78D;
}

.button {
  float: right;
  display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #00A78D;
  border-color: #ccc;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #ccc;
  color: #00A78D;
}

.wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;

}

.patternBackground{

}

#main {
  height: 200px;
  text-align: center;
}

#main, div.header, li.repo {
  background: white;
  background: rgba(255, 255, 255, 1);
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#main h1 {
  margin: 30px 0;
}

#main h1, #main p {
  margin-left: 15px;
  margin-right: 15px;
}

#main p {
  font-size: 14px;
  line-height: 1.6;
}

#logo {
  width: 139px;
  height: 162px;
  margin: 10px auto 0 auto;
  background: url("../images/logo.png") no-repeat;
  text-indent: -99999px;
}

#logo h1 {
  margin: 0;
}

div.header {
  height: 175px;
}

div.header h1, div.header p {
  margin: 13px 15px 0;
}

div.header h1 {
  margin-bottom: 10px;
  color: #1c769e;
}

#num-repos, #num-members, #num-followers {
  font-size: 20px;
  font-weight: bold;
  color: #1c769e;
  line-height: 2em;
  padding-left: 20px;
  padding-right: 10px;
}

#statistics a:link, #statistics a:visited {
  color: #545554;
}

#statistics {
  font-size: 16px;
}

#recently-updated h1 a {
  font-weight: normal;
  font-size: 14px;
}

#recently-updated-repos {
  margin-left: 30px;
}

#recently-updated-repos li {
  line-height: 1.8;
}

#recently-updated-repos li span {
  display: inline-block;
  padding: 0 1px;
}

#recently-updated-repos li span {
  font-size: 11px;
}

#recently-updated-repos li span.name {
  padding: 0 6px 0 0;
  font-size: 15px;
  font-family: 'proxima-nova-condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
  color: #999;
  padding-left: 3px;
}

#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
  padding-left: 15px;
}

li.repo {
  height: 220px;
  text-align: left;
}

li.repo > a {
  display: block;
  width: 87%;
  height: 80%;
  text-decoration: none;
  color: inherit;
  margin: 10px 15px;
}

li.repo a:hover {
  background: #efefef;
  background: rgba(0, 0, 0, 0.05);
}

li.repo h2, li.repo h3, li.repo p {
  line-height: 1.6em;
}

li.repo p {
  font-size: 13px;
  max-width: 200px;
}

li.repo h2 {
  margin-bottom: 2px;
  max-width: 160px;
  overflow: hidden;

}

li.repo h3 {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #999;
}

li.repo .repo-footer {
  margin: 0 15px;
}

li.repo .repo-footer span {
  padding-right: 10px;
}

li.repo .repo-footer a {
  color: #999;
}

.repo:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid #0080B0; // blue
  pointer-events: none;
}

.repo.javascript:after {
  border-right-color: #7db5d2; // babyblue
}
.repo.scala:after {
  border-right-color: #BCD64C; // lime
}
.repo.clojure:after {
  border-right-color: #BCD64C; // lime
}
.repo.shell:after {
  border-right-color: #BCD64C; // lime
}
.repo.ruby:after {
  border-right-color: #cc1100; // red
}
.repo.java:after {
  border-right-color: #F08c4f; // orange
}
.repo.python:after {
  border-right-color: #51A88E; // green
}
.repo.objective-c:after {
  border-right-color: #f9cc33; // yellow
}
.repo.c:after {
  border-right-color: #f9cc33; // yellow
}

.searchbar {
  margin: 20px 10px;
}
.searchbar a {
  display: inline;
}

#repolist {
  width: 300px;
}

#repolist_chosen {
  font-size: 14px;
}

.searchbar .chosen-select {
  height: 29px;
}

.searchbar .motto {
  display: inline;
  font-size: 18px;

  letter-spacing: 1px;
  height: 30px;
/*  padding-left: 45px;*/
  color: #fff;
  vertical-align: middle;
}

#repos {
  margin: auto;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
a.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.btn {
  width: 174px;
  padding: 10px 0px 9px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;

  box-shadow: 0px 4px 0px #000000;
  text-shadow: none;
  color: #ffffff;
}
.btn-primary {
  padding: 10px 0 9px 0;
  width: 174px;
  background: #f58d50;
  box-shadow: 0px 4px 1px #e36a24;
}
.btn-primary:hover {
  background: #e36a24;
  box-shadow: inset 0px 4px 1px #f58d50;
}
.hero {
  position: relative;
  background-color:#fff;

}
.hero-item {
float: left;
display: inline-block;
width: 600px;
}

.hero .wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
#herotext {
  padding: 10px 0 0;
  color: #ffffff;
}
#herotext h2 {
color: #1c769e;
font-size: 25px;
line-height: 1em;
margin-bottom: 10px;
font-family: Futura Condensed;
margin-top: 17px;
}
#herotext p {
color: #434344;
font-size: 16px;
line-height: 27px;
margin-top: -15px;
font-family: FiraSansOT-Regular;
margin-top: 10px;
width: 700px;
}
#sdImage {
/*  padding-top: 50px;*/
  float:right;
  width: 135px;
}
#sdImage img {
  vertical-align: middle;
}

.call-to-action {
  margin-top: 30px;
}

.twitter-follow-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.repoStats table {

}


table {
border-collapse: collapse;
border-spacing: 0;
}

.repoStatCard{
  display: inline-block;
  background-color: #fff;

  margin: 10px;
  margin-bottom: 18px;
  cursor: pointer;
  height:110px;
  width: 284px;
  font-size: 18px;
  font-family: FiraSansOT-Regular;
}

.repoStatCard .headerStat{
    margin: 0px 9px 0;
    color: #1c769e;
    font-family: futura;
    font-size: 18px;
}

.repoStatCard p{
    margin: 0px 9px 0;
    color: #545554;
}

.repoTable{

}

.repoDate{
  font-size: 11px;
  padding-left: 5px;
  color: #1c769e;
}

#repoCard{
  position: relative;
}

.workFrame {
display: inline-block;
background-color: #fff;
padding: 8px;
margin: 10px;
margin-bottom: 18px;
cursor: pointer;
border: 1px solid #e8e8e8;
height:235px;
width: 284px;
cursor: pointer;
box-shadow: 0 4px 4px -2px #232323;
    -moz-box-shadow: 0 4px 4px -2px #232323;
    -webkit-box-shadow: 0 4px 4px -2px #232323;
}

.workFrame:hover {
/*box-shadow: rgb(119, 119, 119) 0px 0px 10px;*/


}

.workImage img {
height: 181px;
width: 285px;
outline: 1px solid #cccccb;
}

.workText {
text-align: left;
margin: 0 10px 5px 10px;
}

.workTitle {
text-align: left;
font-size: 18px;
text-transform: uppercase;
color: #1c769e;
width: 190px;
font-family: Futura Condensed Bold;
}

.workSubTitle {
height: 40px;
font-size: 13.5px;
color: #1c769e;;
}

.workDescription {
height: 105px;
font-size: 14px;
line-height: 21px;
color: #545554;
overflow: auto;
font-family: FiraSansOT-Regular;
}

.repoTag{
  width: 88px;
  height: 29px;
  background: red;
  position: absolute;
  right:-1px;
  float: right;
  top: -1px;
  background-image:url(../images/repoTag.png);
  display:none;
}

.workFrame:hover  .repoTag {

  display: block;

}

.repo-footer{
  color:#999;
  bottom: 0px;
  position: absolute;
}
.watchers{
  padding-right: 10px;
}

.forks{
  padding-right: 10px;
}

.footerText{
  color: #1c769e;
  margin-left: 40px;
  line-height: 50px;
}
