.left-section{
    margin-right:10px;
}

.countryselect {
    width:115px;
    padding: 0px;
    height:35px;
}

.countrytext {
    padding:6px;
    text-align: center;
}

.glyphicon:empty {
    width: 1em;
    color:#fff;

}

.upper-inline-nowrap {
    white-space: nowrap;
    padding: 7px 0px 0px 0px;
}

.upper-icon-upload {
    float: left;
    font-size: 20px;
    padding: 5px 4px 1px 4px;
}

#MapUpperRightToolbarWrapper > div {
    float: left;
    background-color: #fff;
    color: #252525;
    text-transform: uppercase;
    padding: 0px;
    font-size: 15px;
    font-family: DIN-Bold;
    cursor: pointer;
    max-width: 155px;

}

#MapUpperRightToolbarWrapper .btn{
    border-radius: 0px;
    border: 0px;
    background-color: #9b232c;
    padding: 11px;
    font-size: 11px;
    padding: 11px 7px 12px 7px;

}

#MapUpperRightToolbarWrapper div.light {
    background-color: #fff;
    font-family: DIN-Medium;
    color: #404040;
    padding: 1px 49px 0px 9px;

}

#MapUpperRightToolbarWrapper .search {
    font-size: 20px;
    padding: 5px 14px 2px 16px;
    background-color: #f1efec;
    height:35px;
}

/* Country Selector */

#CountrySelectorPanelWrapper{
    position:absolute;
    width: 114px;
    right: 333px;
    background-color: #fff;
    -moz-transition: all .5s ease; /* This is the animation UP for the country selector wrapper */
    -webkit-transition: all .5s ease; /* This is the animation UP for the country selector wrapper */
    -ms-transition: all .5s ease; /* This is the animation UP for the country selector wrapper */
    top: -2775px;
    padding: 10px 10px;
    z-index: 2001;
}

#CountrySelectorPanelWrapper > div.horizontal-separator {
    border-bottom: 1px solid #b9b8b8;
    margin: 20px 0;
}

#CountrySelectorPanelWrapper.on{
    display:block;
    top: 34px;
    -moz-transition: all .5s ease; /* This is the animation DOWN for the country selector wrapper */
    -webkit-transition: all .5s ease; /* This is the animation DOWN for the country selector wrapper */
    -ms-transition: all .5s ease; /* This is the animation DOWN for the country selector wrapper */
    width:116px;
}

#CountrySelectorPanelWrapper div{
    text-transform: uppercase;
    font-size: 15px;
    font-family: DIN-Bold;
    cursor: pointer;
}

#CountrySelectorPanelWrapper #CountryArea div.title{
    float:left;
    margin-right: 25px;
}

#CountrySelectorPanelWrapper .countryListItem {
    cursor: pointer;
    margin: 5px 0;
    color: #3c7fad;
}

#CountrySelectorPanelWrapper .countryListItem:hover {
    text-decoration: underline;
}

#CountryArea .content {
    height: 208px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* End Country selector */
