html, body {
    margin: 0;
    padding: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #d5d5ce;
    background-color: #343741;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJ0lEQVQIW2NkQAP///+XZEQWAwswMj6HC8IEQIrAgsgCYEF0AZAgAL95ExzG6/rFAAAAAElFTkSuQmCC);
    background-attachment: fixed;
    background-repeat: repeat
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.5
}

*, *:before, *:after {
    box-sizing: inherit
}

body * {
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out
}

.preload * {
    -webkit-transition: none !important;
    transition: none !important
}

a {
    color: #2191D0;
    text-decoration: none
}

a:hover {
    color: #1C769E
}

strong {
    font-weight: 600
}

hr {
    display: none
}

h1, h2, h3, p, ul, li, dl, dt, dd {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 26px;
    font-weight: 200;
    letter-spacing: -0.07rem
}

h3 {
    font-size: 22px;
    font-weight: 600
}

header[role="banner"]:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #2191D0;
    background-image: -moz-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0, #749DA7), color-stop(50%, #2191D0), color-stop(100%, #1C769E));
    background-image: -webkit-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -o-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -ms-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: linear-gradient(to right, #749DA7 0, #2191D0 50%, #1C769E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#749DA7', endColorstr='#1C769E', GradientType=1)
}

header[role="banner"] {
    position: relative;
    z-index: 2;
    background: #fff;
    color: #3f434f;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 40px 88px 40px 40px
}

header[role="banner"] h1 {
    min-height: 42px;
    line-height: 32px;
    padding: 5px 0
}

header[role="banner"] h1 strong {
    display: block
}

@media all and (min-width: 420px) {
    header[role="banner"] h1 strong {
        display: inline
    }
}

header[role="banner"] ul {
    clear: both;
    margin: 0;
    padding: 5px 0 0 0
}

header[role="banner"] ul li {
    font-size: 85%
}

header[role="banner"] ul li i {
    color: #6c7388;
    display: inline-block
}

header[role="banner"] ul li span {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #6c7388
}

header[role="banner"] #header-aside {
    float: right;
    position: absolute;
    top: 40px;
    right: 40px
}

header[role="banner"] #header-aside figure {
    display: block;
    margin: 0;
    padding: 0;
    height: 42px
}

header[role="banner"] #header-aside figure img {
    display: block;
    float: right;
    width: 32px;
    height: 32px;
    border: none;
    overflow: hidden;
    margin: 5px 0 0 0;
    border-radius: 16px;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%)
}

main {
    position: relative;
    z-index: 1;
    max-width: 1400px;
    zoom: 1
}

main:before, main:after {
    content: "";
    display: table
}

main:after {
    clear: both
}

main a:hover {
    color: #fff
}
main a {
    color: #fff
}

main section {
    background-color: #1C769E transparent;
    width: 100%;
    height: auto;
    padding: 40px;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, 0.15);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.85);
    position: relative;
    top: 0;
    z-index: 9
}

@media all and (min-width: 640px) {
    main section {
        width: 50%;
        height: 290px
    }
}

@media all and (min-width: 900px) {
    main section {
        width: 33.3%;
        height: 290px
    }
}

@media all and (min-width: 1200px) {
    main section {
        width: 25%;
        height: 290px
    }
}

main section:hover {
    background: #282b33;
    box-shadow: 0 -4px 0 0 #2191D0, inset 0 1px 0 0 #000, 0 10px 30px 0 rgba(0, 0, 0, 0.5);
    top: 5px;
    z-index: 10
}

main section header h3, main section header p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

main section header h3 i {
    font-size: 75% !important;
    margin-right: 3px
}

main section header p {
    font-size: 75%;
    color: #a6a697
}

main section header p i {
    margin-right: 5px
}

main section header p.repo-langs {
    color: #fff;
    text-transform: uppercase
}

main section article {
    padding: 5px 0 10px 0
}

main section article p {
    position: relative;
    overflow: hidden;
    line-height: 1.5em;
    max-height: 6em;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    word-wrap: break-word
}

main section footer p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 85%
}

main section footer p i {
    margin-right: 5px
}

footer[role="contentinfo"] {
    position: relative;
    z-index: 0;
    background: #fff;
    color: #3f434f;
    padding: 40px;
    clear: both
}

footer[role="contentinfo"] dl {
    font-size: 85%;
    padding: 5px 0 0 0
}

footer[role="contentinfo"] dl ul.social-share {
    overflow: auto
}

footer[role="contentinfo"] dl ul.social-share li {
    display: block;
    float: left;
    padding: 0 10px 0 0;
    font-weight: 600
}

footer[role="contentinfo"] dl ul.social-share li i {
    color: #2191D0
}

footer[role="contentinfo"] dl ul.social-share li a:hover {
    border-bottom: solid #1C769E 1px
}

footer[role="contentinfo"] p#footer-credits {
    font-size: 85%;
    padding: 20px 0;
    margin: 20px 0 0 0;
    border-top: dotted #a4a8b6 1px
}

@media all and (min-width: 640px) {
    footer[role="contentinfo"] p#footer-credits {
        padding: 0;
        margin: 0;
        text-align: right;
        border-top: none;
        position: absolute;
        top: 40px;
        right: 40px
    }
}

footer[role="contentinfo"]:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #2191D0;
    background-image: -moz-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0, #749DA7), color-stop(50%, #2191D0), color-stop(100%, #1C769E));
    background-image: -webkit-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -o-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -ms-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: linear-gradient(to right, #749DA7 0, #2191D0 50%, #1C769E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#749DA7', endColorstr='#1C769E', GradientType=1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75), 0 2px 0 rgba(0, 0, 0, 0.05), 0 4px 1px rgba(0, 0, 0, 0.05)
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

#loader {
    position: fixed;
    z-index: 100;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #1C769E;
    -webkit-transition: top .3s linear .3s,
    opacity .3s linear !important;
    transition: top .3s linear .3s,
    opacity .3s linear !important
}

#loader .loading-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 80%;
    text-align: center
}

#loader .loading-error {
    display: none;
    padding: 10px 0;
    width: 90%;
    max-width: 280px;
    margin: 0 auto
}

#loader .loading-spinner {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #2191D0;
    background-image: -moz-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0, #749DA7), color-stop(50%, #2191D0), color-stop(100%, #1C769E));
    background-image: -webkit-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -o-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: -ms-linear-gradient(left, #749DA7 0, #2191D0 50%, #1C769E 100%);
    background-image: linear-gradient(to right, #749DA7 0, #2191D0 50%, #1C769E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#749DA7', endColorstr='#1C769E', GradientType=1);
    box-shadow: 0 0 0 1px #fff, 0 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: spin .8s infinite linear;
    -moz-animation: spin .8s infinite linear;
    -o-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear
}

#loader .loading-spinner:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #fff;
    box-shadow: inset 0 0 0 1px #fff, inset 0 0 2px 3px rgba(0, 0, 0, 0.1)
}

#loader.listen .loading-spinner {
    display: block
}

#loader.listen .loading-error {
    display: none
}

#loader.ready {
    opacity: 0;
    top: 100%
}

#loader.ready .loading-error {
    display: none
}

#loader.ready .loading-spinner {
    display: none
}

#loader.error .loading-spinner {
    display: none
}

#loader.error .loading-error {
    display: block
}

.hidden {
    display: none !important
}

.visible {
    display: block !important
}